.top-0 {
  top: 0;
  bottom: auto;
}

.top-100 {
  top: 100%;
  bottom: auto;
}

.left-0 {
  right: auto;
  left: 0;
}

.left-50 {
  right: auto;
  left: 50%;
}

.left-100 {
  left: 100%;
  right: auto;
}

.right-0 {
  left: auto !important;
  right: 0 !important;
}

.right-50 {
  left: auto;
  right: 50%;
}

.z-index--100 {
  z-index: -100;
}

.z-index-99 {
  z-index: 99;
}

.z-index-100 {
  z-index: 100;
}

.z-index-101 {
  z-index: 101;
}

.z-index-1900 {
  z-index: 1900;
}

.z-index-1901 {
  z-index: 1901;
}

.z-index-1902 {
  z-index: 1902;
}

.transition-normal {
  transition: 0.3s all ease-in;
}

.img-cover {
  object-fit: cover
}

.img-contain {
  object-fit: contain
}

.opacity-0 {
  opacity: 0
}

.cursor-pointer {
  cursor: pointer;
}
